@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "SN Pro";
    flex-direction: column;
    align-items: center;
    color: #9b2d30;
    gap: 4vw;
    
}
h1{
    font-size: 6vw;
}
p{
    font-size: 3vw;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}
.image{
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    width: 70vw;
    img{
        width: 70vw;
        height: auto;
    }
}
.candle{
    position: absolute;
    top: 6vw;
    left: 3vw;
    img{
        width: 15vw;
        height: auto;
    }
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4vw;
}
.text{
    width: 50vw;
    p{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.country{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.uk_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        display: none;
    }
}
.portugal_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        display: none;
    }
}
.russia_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        display: none;
    }
}
.portugal_image{
    width: 20vw;
    height: auto;
}
.uk_image{
    width: 20vw;
    height: auto;
}
.div_school{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.school{
    width: 80vw;
    height: auto;
}
.mel{
    position: absolute;
    width: 35vw;
    height: auto;
    right: 0;
    bottom: -2vw;
}
.money{
    width: 20vw;
    height: auto;
    position: absolute;
    left: 0;
    display: none;
}
.div{
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 0;
    display: none;
    background-color: #fff;
}
.div_new{
    position: absolute;
    width: 35vw;
    height: 35vw;
    right: 0;
}
.enter{
    position: absolute;
    top: -1vw;
    right: 0;
    display: none;
}
.enter_none{
    position: absolute;
    top: -4vw;
    right: 0;
    display: none;
}
.snake{
    position: absolute;
    left: 0;
    width: 70vw;
    height: auto;
}
.snake_div{
    width: 100%;
    position: relative;
}
.snake_sh{
    position: absolute;
    top: -8vw;
    left: 65vw;
    width: 30vw;
    height: auto;
    display: none;
}